*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    transition: 0.5s all;
}
body{
    margin: 0;
    padding: 0;
height: 200vh;
background-image: url(/Netfix/black2.svg);

}
body::-webkit-scrollbar {
    display: none;
}
.logo-l:hover{
    transform: scale(1.1);
}
.nav{
    width: 100vw;
    height: 62px;
  display: grid;
 grid-template-columns: 13fr 50fr 30fr;
 background: black;
position: fixed;
z-index: +5;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
}
.logo-l{
width: 120px;
height: 40px;
margin-left: 50px;
transition: 0.3s all;
}

a{
    color: white;
    text-decoration: none;
    padding-left: 15px;
    transition: 0.3s all;
}
a:hover{
    color: tomato;
font-size: 1.08em;
  

}
.items{
    padding-top: 30px;
    
}
.bar{
 padding-top: 30px;
padding-left: 250px;    
}
.items::before{
    content: 'Browse';
    color: blanchedalmond;
   display: none;
}

@media screen and (max-width: 946px) {
    .items{
        grid-template-columns: 100px;}
        .items a{
            display: none;
        }
        .items::before{
            display: block;
            margin-left: 50px;
        }
    }

@media screen and (max-width: 400px) {
.logo-l{
    margin-left: 10px;
}
    
  }
  .main{
      display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: nowrap;
     /* grid-template-columns: repeat(5,220px); */
      background: transparent;
     
      margin: 0 0 0 70px;
      height: 300px;
     
      position: relative;
      top: 250px;  

  }
  .image{
      width: 1080px;
  }

  .card{
      height: 300px;
      width: 100%;
      background:transparent;
  }
  .card img:hover{
transform: scale(1.1);
  }
  /* Title of movie */
  .name{
      font-size: 2em;
      color: white;
  }
  .title{
      width: 100vw;
      height: 100px;
      position: relative;
      top: 100px;
      left: 80px;
      color: white;
  }
  h5{
      padding-top: 10px;
  }
  .video{
      width: 1300px;
      height: 500px;
      background: transparent;
      margin-top: 20px;
      margin-right: 100px;
      z-index: -5;
  }
  video{
      margin-left: 50px;
      z-index: -5;
      color: black;
  }
 
  